
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Aice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Indoctrination Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    <!-- banner -->
    <div class="inner-banner">
        <!-- header -->
    {{!-- <header>	
	<nav class="mnu navbar-light">
            <div class="logo" id="logo">
                <h1><a href="index.html">JARVIS Creation<br>Since 2K19-2K22</a></h1>
            </div>
				<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop">
                    <ul class="menu">
                        <li class="mr-lg-4 mr-3"><a href="index.html">Home</a></li>
						<li class="mr-lg-4 mr-3"><a href="about.html">About</a></li>
                        <li class="mr-lg-4 mr-3 active"><a href="services.html">Services</a></li>
						<li class="mr-lg-4 mr-3">
                            <!-- First Tier Drop Down -->
                            
                                <li><a href="gallery.html">Gallery</a>
                                </li>
                            </ul>
                        </li>

                        
                    </ul>
    </nav>
</header> --}}
<!-- //header -->
        
    </div>
	 <!-- //banner-text -->
	 <div class="agileits-services py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h2 class="heading-agileinfo text-center pb-4">Our <span> Facilitys</span></h2>
            </div>
            <div class="agileits-services-row row text-center">
                <div class="col-lg-3 col-md-6">
                    <div class="agileits-services-grids">
                       <span class="fa fa-globe"></span>
                        <h4>Programing Cource
                        </h4>
                        <label></label>
                        <p>Computer programming can be defined as the set of processes involved in designing and developing an executable computer program for accomplishing a specific task through computers. ... In other words, programming can be understood as the sequence of instructions that will automate the performance of a task on a computer. </p>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="agileits-services-grids mt-lg-0 mt-md-0 mt-5">
                       <span class="fa fa-book"></span>
                        <h4>Digital Library
                        </h4>
                        <label></label>
                        <p>A Digital Library (also referred to as digital library) is a special library with a focused collection of digital objects that can include text, visual material, audio material, video material, stored as electronic media formats (as opposed to print, microform, or other media), along with means for organizing, storing, and retrieving the files and media contained in the library collection.  </p>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="agileits-services-grids mt-lg-0 mt-5">
                        <span class="fa fa-cog"></span>
                        <h4>Projects Ideas
                        </h4>
                        <label></label>
                        <p>Software Engineering Projects for Computer Science Students. Software engineering involves designing, development, and maintenance of various application-based softwares. Software engineering projects can be implemented on several tools such as Java, Dot net, Linux, Oracle, and so on.</p>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  mt-lg-0 mt-5">
                    <div class="agileits-services-grids">
                       <span class="fa fa-bus"></span>
                        <h4>Hardware Study
                        </h4>
                        <label></label>
                        <p>PC Hardware is a study of the basic assembly, maintenance, and repair of microcomputer systems. Divided into eight (8) units, these hardware-oriented topics include subcomponents, such as system board, video, memory, storage, multimedia, networking, and printers.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  	<!-- promotions -->
	<section class="wthree-row w3-about py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h3 class="heading-agileinfo text-center pb-4">Our <span> Projects</span></h3>
            </div>
			<div class="card-deck">
				  <div class="card">
					<img src="images/g1.jpg" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">iDUCE</h5>
					  <p class="card-text mb-3">Abstract-Notice boards are playing very important role in ourday to day life. By replacing conventional Analog type noticeboard with digital notice board we can make informationdissemination much easier in a paperless community. Here theadmin can control notice board through internet. So informationcan be send anywhere in the world and can be displayed withinseconds. Information may be in the form of text, image, pdf etc.</p>
					</div>
				  </div>
				  <div class="card">
					<img src="images/Attentece App.jpg" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">Attentence Apllication</h5>
					  <p class="card-text mb-3">This application, once installed can be used to download the students list from a designated web server. Based on the downloaded list of students, the device will then act like a scanner to scan each of the student cards one by one to confirm and verify the student's presence. The device's camera will be used as a sensor that will read the barcode printed on the students' cards.</p>
					</div>
				  </div>
				  <div class="card">
					<img src="images/training and placement.jpg" class="img-fluid" alt="Card image cap">
					<div class="card-body w3ls-card">
					  <h5 class="card-title">Training And Placement Management System</h5>
					  <p class="card-text mb-3">The system focuses on automation of conventional training and placement management system. This system can be used as an application for the Training & Placement Officers in the college to manage the student information with regard to placement and providing assistance using the assistance portal where students can post their query to the TPO and coordinators. </p>
					</div>
				  </div>
			</div>
			<div class="card-deck">
				<div class="card">
				  <img src="images/cyber bullying.jpg" class="img-fluid" alt="Card image cap">
				  <div class="card-body w3ls-card">
					<h5 class="card-title">CYBER BULLYING</h5>
					<p class="card-text mb-3">Cyberbullying Detection implements our coded, machine learning algorithms, in finding a negative comment from the messages it receives by a user. The algorithm first gives the message a value and then based on our pre trained data, it decides if the comment is harsh enough to be transformed or not.</p>
				  </div>
				</div>
				<div class="card">
				  <img src="images/chat bot.jpg" class="img-fluid" alt="Card image cap">
				  <div class="card-body w3ls-card">
					<h5 class="card-title">CHAT BOT</h5>
					<p class="card-text mb-3">ChatBot is a software that can chat with people using Mechine Learning and Artificial Intelligence.
						User can seek health information from this bot.</p>
				  </div>
				</div>
				<div class="card">
				  <img src="images/library management.jpg" class="img-fluid" alt="Card image cap">
				  <div class="card-body w3ls-card">
					<h5 class="card-title">lIBRARY MANAGEMENT SYSTEM</h5>
					<p class="card-text mb-3">A software which maintains the information about the books present in the library, their authors, the members of library to whom books are issued, library staff and all. This is very difficult to organize manually. Maintenance of all this information manually is a very complex task. </p>
				  </div>
				</div>
		  </div>
		  <div class="card-deck">
			<div class="card">
			  <img src="images/blood donors.jpg" class="img-fluid" alt="Card image cap">
			  <div class="card-body w3ls-card">
				<h5 class="card-title">BLOOD DONERS MANAGEMENT SYSTEM</h5>
				<p class="card-text mb-3">The title of the ptoject is“BLOOD DONERS MANAGEMENT SYSTEM”. .This project will handle the all detials of blood
					doners. .It provides facilities to see the list of blood doners
					and get their phone numbers. .The reciever can contact the doners very fast.</p>
			  </div>
			</div>
			<div class="card">
			  <img src="images/online exam.jpg" class="img-fluid" alt="Card image cap">
			  <div class="card-body w3ls-card">
				<h5 class="card-title">ONLINE EXAMINATION</h5>
				<p class="card-text mb-3">. Online examination system is an onlie simulator to take exam online.
					 . Now students can attend their exam online from any where.

					. The main objective is to evaluate the student through a fully automated system. 
					. Students can give their answer sheet using internet.
					
					. No wastage of paper,pen etc...........</p>
			  </div>
			</div>
			<div class="card">
			  <img src="images/library management.jpg" class="img-fluid" alt="Card image cap">
			  <div class="card-body w3ls-card">
				<h5 class="card-title">lIBRARY MANAGEMENT SYSTEM</h5>
				<p class="card-text mb-3">A software which maintains the information about the books present in the library, their authors, the members of library to whom books are issued, library staff and all. This is very difficult to organize manually. Maintenance of all this information manually is a very complex task. </p>
			  </div>
			</div>
			<div class="card-deck">
				<div class="card">
				  <img src="images/airline.jpg" class="img-fluid" alt="Card image cap">
				  <div class="card-body w3ls-card">
					<h5 class="card-title">Airline Reservations System</h5>
					<p class="card-text mb-3">The system allows the airline passenger to search for flights that are available between the two travel cities, 
						namely the “Departure city” and “Arrival city” for a Particular departure and arrival dates. The system displays 
						all the flight’s details such as flight no, name, price and duration of journey etc.</p>
				  </div>
				</div>
				<div class="card">
				  <img src="images/cloud .net.jpg" class="img-fluid" alt="Card image cap">
				  <div class="card-body w3ls-card">
					<h5 class="card-title">CLOUD COMPUTING USING ASP.NET</h5>
					<p class="card-text mb-3">Cloud Computing Projects: Cloud computing is a

						computing infrastructure for enabling access to resources
						
						like computer networks, servers, storage, applications and
						
						services. We have projects for such systems as Cloud
						
						Computing Projects, doud security projects, cloud
						
						optimization systems and other cloud based application.</p>
				  </div>
				</div>
				<div class="card">
				  <img src="images/Disease prediction.jpg" class="img-fluid" alt="Card image cap">
				  <div class="card-body w3ls-card">
					<h5 class="card-title">Disease Prediction Usin JAVA</h5>
					<p class="card-text mb-3">Heart Disease Prediction System Using JAVA project description The project is prediction based java project designed using some algorithm and it will be helpful in predicting heart diseases early with the symptoms and old report. We need to create own database age name sex diseases weight height </p>
				  </div>
				</div>
		  </div>
	  </div>
            </div>
        </section>
<!-- //promotions -->

</body>
</html>