<!DOCTYPE html>
<html>
  <head>
    
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- Custom Theme files -->
    <link href="stylesheets/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="stylesheets/studentRegistration.css" type="text/css" rel="stylesheet" media="all"> 
    <!-- font-awesome icons -->
    <link href="stylesheets/fontawesome-all.min.css" rel="stylesheet">
	<!-- //Custom Theme files -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

    <link href="stylesheets/stafflayout.css" type="text/css" rel="stylesheet" media="all">
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- //online-fonts -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="bootstrap.css"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="awesome-bootstrap-checkbox.css"/>
  </head>
  <body>
  <nav class="mnu navbar-light" style="background-color: #1a1a1b;">
     <li class=>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{userstaff.fistname}}</a>
  </li>
    <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
    <input type="checkbox" id="drop">
    <ul class="menu">
      <li class="mr-lg-4 mr-3 active" ><a href="/add-question-papper_staff">Add Question Papper</a></li>
      <li class="mr-lg-4 mr-3 "><a href="/dqpapper_staff">Delete Question Papper</a></li>
      <li class="mr-lg-4 mr-3"><a href="/StdRegistration">Student Registration</a></li>
      <li class="mr-lg-4 mr-3"><a href="/MarkAtttendance">Mark Attendance</a></li>
      <li class="mr-lg-4 mr-3"><a href="/logout">Logout</a></li>
      <li class="mr-lg-4 mr-3">
        <!-- First Tier Drop Down -->
    </ul>

  </nav>
    {{{body}}}
  </body>
</html>
